<div>
  <p class="border-bottom">Broj osiguranika: {{pacijent.brojOsiguranika}}</p>
  <p class="border-bottom">Email: {{pacijent.email}}</p>
  <p class="border-bottom">Password: {{pacijent.password}}</p>
  <p class="border-bottom">Ime: {{pacijent.ime}}</p>
  <p class="border-bottom">Prezime: {{pacijent.prezime}}</p>
  <p class="border-bottom">Adresa: {{pacijent.adresa}}</p>
  <p class="border-bottom">Grad: {{pacijent.grad}}</p>
  <p class="border-bottom">Drzava: {{pacijent.drzava}}</p>
  <p class="border-bottom">Kontakt telefon: {{pacijent.kontakt_telefon}}</p>

</div>

<button routerLink="/izmeniProfil" >Izmeni</button>
