
<nav *ngIf="!userIsLoggedIn" class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>

  </div>
</nav>

<nav *ngIf="userIsLoggedIn" class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <li><a routerLink="/pacijent/home">Pocetna</a></li>

        <li>
          <a (click)="logout()">
            Logout
          </a>
        </li>

  </div>

</nav>
