<form [formGroup]="kartonForm" (ngSubmit)="onSubmit()">
    <label>
        Datum rodjenja:
        <input type="date" formControlName="datum_rodjenja">
    </label>

    <label>
        Visina pacijenta:
        <input type="number" formControlName="visina_pacijenta">
    </label>

    <label>
        Tezina pacijenta:
        <input type="number" formControlName="tezina_pacijenta">
    </label>

    <label>
        Krvna grupa:
        <input type="text" formControlName="krvna_grupa">
    </label>
    <label>
        Dioptrija:
        <input type="text" formControlName="dioptrija">
    </label>

    <button type="submit">Submit</button>
</form>
